language: node_js
node_js:
 - "stable"

#cache:
# yarn: true

# directories:
#  - "node_modules"
before_install:
 - npm install -g yarn
 - npm install -g codecov

install:
 - yarn

script:
 - yarn run eslint .
 - gulp &
 - sleep 10
 - npm test
# - istanbul cover ./node_modules/mocha/bin/_mocha --reporter test -- -R spec
 - codecov

#after_script:
# - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

after_success:
# - npm run coveralls
 - codecov --file coverage/lcov.info --disable search