.main-container {

  .top-container {
    display: flex;
    flex-direction: column;
    //height: 92.9vh;
    .left-container {
      flex: 0 0 auto;
      flex-direction: column;
      // align-items: center;
      display: flex;

      @include breakpoint($bp-768) {
        flex: 0 0 200px;
        height: 50vh;
        justify-content: stretch;
      }

      .menu-container {
        height: 150px;
        width: 100%;
        background-color: #31b0d5;

        @include breakpoint($bp-768) {
          width: 100vw;
          height: auto;
        }
      }
    }

    .right-container {
      flex: 0 0 auto;

      @include breakpoint($bp-768) {
        flex: 1 0 auto;
        height: 93vh;
        overflow-y: scroll;
      }
    }
  }

  .footer-container {
    flex: 0 0 5vh;
    align-items: flex-end;
    height: 100%;
    width: 100vw;
    background-color: #31b0d5;
  }
}
